/sounds/gun_sound_test
/sounds/gun_sound_train
/original/原始音频文件.7z
/__pycache__
/ast_model
IMPROVEMENT_STRATEGY.md
model_strategy.md
p1.md
sound_recognition_strategy.md
trained_models
test_inference.py